body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}
.Section_top{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(/static/images/img1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 900px;
    text-align: center;
    justify-content: center;
    animation: change 10s infinite ease-in-out;
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;

}
.content h1{
    color: #fff;
    font-size: 60px;
    letter-spacing: 15px;
}
.content h1 span{
    color: #111;
}
.content a{
    background: #85c1ee;
    padding: 10px 24px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 20px;
}
.content a:hover{
    background: #034e88;
    color: #fff;
}
@keyframes change{
    0%
    {
        background-image: url_for(/static/images/img4.jpg);
    }
    20%
    {
        background-image: url(/static/images/img2.jpg);
    }
    40%
    {
        background-image: url(/static/images/img3.jpg);
    }
    60%
    {
        background-image: url(/static/images/img1.jpg);
    }
    80%
    {
        background-image: url(/static/images/img4.jpg);
    }
    100%
    {
        background-image: url(/static/images/img1.jpg);
    }
}
.footer{
    background:#000;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
}

    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }

    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }

    .footer .row a:hover{
    color:#fff;
    }

    .footer .row ul{
    width:100%;
    }

    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }

    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }

    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }
 body {
     background-image: url(/static/images/img.jpg);
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover
    }
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
h1{
    font-size:4em;
    margin:0;
    padding:0;
    text-align:center;
    font-family:absolute;
    top:50%;
    left:50%;
}

h1 {text-align: center;
text-shadow:#1d1f20;}
h3 {text-align: center;
text-shadow:#1d1f20;}
p {text-align: center;}


.body {
  background: #1d1f20;
  text-align: center;
  padding: 60px;
  font-family: sans-serif;
}
.parentDiv {
display: flex;
justify-content: center;
align-items: center;
position: absolute;
bottom: 10px;
left: 600px;
font-size: 18px;
}

.btn input{
    background-color: #fff;
     border: 0 solid #e2e8f0;
     border-radius: 1.5rem;
     box-sizing: border-box;
     color: #0d172a;
     cursor: pointer;
     display: inline-block;
     font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
     font-size: 1.1rem;
     font-weight: 600;
     line-height: 1;
     padding: 1rem 1.6rem;
     text-align: center;
     text-decoration: none #0d172a solid;
     text-decoration-thickness: auto;
     transition: all .1s cubic-bezier(.4, 0, .2, 1);
     box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
}

.btn input:hover {
     background-color: #1e293b;
     color: #fff;
}

@media (min-width: 768px) {
     .btn input {
       font-size: 1.125rem;
       padding: 1rem 2rem;
     }
}
