<!DOCTYPE html>
<html>
<head>
    <title>AI-powered Nutrition Analyzser for Fitness Enthusiasts</title>
    <link rel="stylesheet" href="./static/css/home_css.css">
</head>
<body>
  <p>             </p>

 <h1>AI-powered Nutrition Analyzser for Fitness Enthusiasts</h1>
    <h3>Nutrition is about eating a healthy and
        balanced diet. Food and drink provide the
        energy and nutrients you need to be healthy.</h3>
    <h3>Understanding these nutrition terms may make
        it easier for you to make better food choices.</h3>

    <div class="containerss">
      <div class="center">

        <form action="/bmi" method="get">
          <div class = "btn">
            <input type = "submit" value = "Bmi Calculator">
            </div>
        </form>
        <br> <br>
          <form action="/pred" method="get">
          <div class = "btn">
            <input type = "submit" value = "Prediction">
            </div>
        </form>

          <p>      </p>
    </div>
    </div>
  <div class="Section_top">
  </div>
  <div>
  <h2>Nutrition for Growth – Join The Power of Nutrition in transforming the way the world tackles undernutrition</h2>
  <h2>About Nutrition</h2>
  <p>Nutrition is the process of consuming, absorbing, and using nutrients needed by the body for growth, development,</p>
  <p>and maintenance of life. To receive adequate, appropriate nutrition,</p>
  <p>people need to consume a healthy diet,</p>
  <p>which consists of a variety of nutrients—the substances in foods that nourish the body.</p></p>
  <h2>Balancing Fitness and Nutrition</h2>
  <p>Regular physical activity is one of the most important things you can do for your health.
  <p>Being physically active can improve your brain health, help manage weight, </p>
  <p>reduce the risk of disease, strengthen bones and muscles, </p>
   <p>and improve your ability to do everyday activities.</p>
   <p>BUT</p>
   <p>Nutrition is a critical part of health and development.</p>
    <p> Better nutrition is related to improved infant, child and maternal health, stronger immune systems, </p>
     <p>safer pregnancy and childbirth, lower risk of non-communicable diseases and longevity.</p></p>

     <h2>SEE FEATURES</h2>

</div>

  <footer>
    <div class="footer">

    <div class="row">
    <ul>
    <li><a href="#">BMI CALCULATOR</a></li>
    <li><a href="#">CALORIES DETECTOR</a></li>
    <li><a href="#">Terms & Conditions</a></li>
    <li><a href="#">Career</a></li>
    </ul>
    </div>
    </div>
    </footer>

</body>
</html>
